@keyframes shake {
  20% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leave {
  from {
    transform-origin: 0% 200%;
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform-origin: 0% 200%;
    transform: rotate(180deg);
    opacity: 0;
  }
}

@keyframes enter {
  from {
    transform-origin: 0% 200%;
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    transform-origin: 0% 200%;
    transform: rotate(0deg);
    opacity: 1;
  }
}

.image {
  height: 300px;
}

.image[data-shake='1'] {
  animation: shake 0.5s ease;
}

.image[data-leave='1'] {
  animation: leave 0.5s ease;
}

.image[data-enter='1'] {
  animation: enter 0.5s ease;
}
