#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.logo {
  height: 4em;
  padding: 1.5em;
}

@media (max-width: 480px) {
  .logo {
    height: 2em;
  }
}
